{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["./", "./app"],
        "alias": {
          "@": "./app/modules",
        },
        "extensions": [".ios.js", ".android.js", ".js", ".json"]
      }
    ]
  ]
}
