{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    ["babel-plugin-root-import", [{
       "rootPathPrefix": "~",
       "rootPathSuffix": "app"
     }, {
       "rootPathPrefix": "@",
       "rootPathSuffix": "app/modules"
     }]]
  ],
}
